<%= form_for(@cert) do |f| %>
  <% if @cert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cert.errors.count, "error") %> prohibited this cert from being saved:</h2>

      <ul>
      <% @cert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :get_at %><br>
    <%= f.datetime_select :get_at %>
  </div>
  <div class="field">
    <%= f.label :expire_at %><br>
    <%= f.datetime_select :expire_at %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <%= f.text_field :pin %>
  </div>
  <div class="field">
    <%= f.label :pin_get_at %><br>
    <%= f.datetime_select :pin_get_at %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cert_state_id %><br>
    <%= f.number_field :cert_state_id %>
  </div>
  <div class="field">
    <%= f.label :cert_type_id %><br>
    <%= f.number_field :cert_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
