<h3>あなたの証明書一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>取得日</th>
      <th>期限</th>
      <th>Pin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certs.each do |cert| %>
      <tr>
        <td><%= cert.name %></td>
        <td><%= cert.get_at %></td>
        <td><%= cert.expire_at %></td>
        <td><%= cert.pin %></td>
        <td><%= link_to '詳細', {action: "show", id: cert.id}, {class: "btn"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ポータルのトップページへ戻る', {controller: "portal", action: "index"} %>
