<% if current_user %>
<% ln = params[:locale] == 'ja' ? 'ja': 'en' %>
<h3><%= t('.dashboard_title') %></h3>
<br>
<p><%= t('.dashboard_text')%></p>
<p><%= SHIBCERT_CONFIG['label'][ln]['intro_text'] %></p>
<br>
<h4><%= t('.req_title') %></h4>
<br>

<div class="container">
	<%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do %>
	<%= hidden_field :cert, :purpose_type, :value => 5 %>

	<%= submit_tag(t('.req_bt', type: t('common.purpose_type.t5')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
	<%= SHIBCERT_CONFIG['label'][ln]['purpose'][5] if SHIBCERT_CONFIG['label']['ja']['purpose'][5] %>
	<% end %>
	<br>
	<%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do  %>
	<%= hidden_field :cert, :purpose_type, :value => 7 %>
 	<% unless @smime_num > 0 %>	
	<%= submit_tag(t('.req_bt', type: t('common.purpose_type.t7')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
	<% else %>
	<div class="btn btn-default" disabled="disabled">
	<%= t('common.purpose_type.t7') %>
	</div>
	<% end %>
	<%= SHIBCERT_CONFIG['label'][ln]['purpose'][7] if SHIBCERT_CONFIG['label']['ja']['purpose'][7] %>
 	<% if @smime_num > 0 %>
	<%= t('.no_multi_smime') %>	
	<% end %>
	<% end %>
<br>
<h4><%= t('.list_title') %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.list_seq') %></th>	  
      <th><%= t('.list_type') %></th>
      <th><%= t('.list_date') %></th>
      <th><%= t('.list_available') %></th>
      <th><%= t('.list_memo') %></th>
      <% if Rails.env == 'development' %>
	  <th><%= t('.list_action') %></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>

    <% @certs.each do |cert| %>
    <tr>
	  <td><%= link_to cert.req_seq.to_s, {action: "show", id:cert.id}, {class: "btn btn-default"}   %></td>	  
	  <td>
		<% purpose_cap =  %>
		<% if t('common.purpose_type.t' + cert.purpose_type.to_s) %>
		<%= t('common.purpose_type.t' + cert.purpose_type.to_s) %>
		<% else %>  
		t('.list_purpose_type_error')
		<% end %>
	  </td>
      <td><%= I18n.l Date.parse(cert.created_at.to_s) %></td>	  
      <td>
        <%= t('certs.show.cert_status_msg')[cert.state] %>
	  </td>
      <td><%= cert.memo %></td>
	  
	  <% if Rails.env == 'development' %>
      <td>
		<% if cert.state == Cert::State::NEW_GOT_SERIAL %>
		<%= link_to t('.update'), {action: "index"}, {class: "btn btn-primary"} %>
		<% else %>
		<div class="btn btn-default" disabled="disabled">
		  <%= t('.update') %>
		</div>
		<% end %>
		
		<% if cert.state == Cert::State::NEW_GOT_SERIAL %>
		<%= link_to t('.disable'), {action: "index"}, {class: "btn btn-primary"} %>
		<% else %>
		<div class="btn btn-default" disabled="disabled">
		  <%= t('.disable') %>
		</div>
		<% end %>
	  </td>		
	  <% end %>
    </tr>
	
    <% end %>
  </tbody>
</table>
<br>
<% end %>
