<h1>Listing certs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Get at</th>
      <th>Expire at</th>
      <th>Pin</th>
      <th>Pin get at</th>
      <th>User</th>
      <th>Cert state</th>
      <th>Cert type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certs.each do |cert| %>
      <tr>
        <td><%= cert.name %></td>
        <td><%= cert.get_at %></td>
        <td><%= cert.expire_at %></td>
        <td><%= cert.pin %></td>
        <td><%= cert.pin_get_at %></td>
        <td><%= cert.user_id %></td>
        <td><%= cert.cert_state_id %></td>
        <td><%= cert.cert_type_id %></td>
        <td><%= link_to 'Show', cert %></td>
        <td><%= link_to 'Edit', edit_cert_path(cert) %></td>
        <td><%= link_to 'Destroy', cert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cert', new_cert_path %>
