<h3>証明書発行申請ダッシュボード</h3>
<br>
<h4><%= t('req_sel.title') %></h4>
<br>

<div class="container">
	<%= form_tag({controller: "certs", action: "request_result"}, {class: "form-inline"}) do %>
	<%= hidden_field :cert, :purpose_type, :value => 5 %>
	<%= submit_tag(SHIBCERT_CONFIG['caption_j']['purpose_type_short'][5] + t('req_sel.linktext'), class: "btn btn-primary", data: {confirm: t('req_sel.confirm')}) %> 
	<% end %>
	<br>
	<%= form_tag({controller: "certs", action: "request_result"}, {class: "form-inline"}) do  %>
	<%= hidden_field :cert, :purpose_type, :value => 7 %>  
	<%= submit_tag SHIBCERT_CONFIG['caption_j']['purpose_type_short'][7] + t('req_sel.linktext'), class: "btn btn-primary", data: {confirm: t('req_sel.confirm')} %> 
	<% end %>
<br>
<h4>証明書の発行状況 (申請番号をクリックで詳細表示)</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>申請番号</th>	  
      <th>証明書タイプ</th>
      <th>申請日</th>
      <th>有効/無効</th>
      <th>メモ</th>
      <th>アクション</th>
    </tr>
  </thead>

  <tbody>

    <% @certs.each do |cert| %>
    <tr>
	  <td><%= link_to cert.req_seq.to_s, {action: "show", id:cert.id}, {class: "btn btn-default"}   %></td>	  
	  <td>
		<% purpose_cap = SHIBCERT_CONFIG['caption_j']['purpose_type_short'] %>
		<% if purpose_cap[cert.purpose_type] %>
		<%= purpose_cap[cert.purpose_type] %>
		<% else %>  
		証明書タイプに問題が発生しています。<br>担当部署までお問い合わせ下さい。
		<% end %>
	  </td>
      <td><%= cert.created_at.strftime("%Y年%m月%d日") %></td>
      <td>
		<% if cert.pin_get_at and cert.expire_at %>
		  <% if Time.now > cert.expire_at %>		
	  	    <span style="color:green;">期限切れ</span>
		  <% else %>
		    <% if Time.now > cert.expire_at %>				
		      <span style="color:red;">有効</span>
		    <% else %>
		      <span style="color:gray;">無効</span>		
		    <% end %>
		  <% end %>
		<% else %>		
		<span style="color:gray;">未発行</span>
		<% end %>
	  </td>
      <td><%= cert.memo %></td>		
      <td><%= link_to '更新', {action: "index"}, {class: "btn btn-primary"} %> <%= link_to '失効', {action: "index"}, {class: "btn btn-primary"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
