<% if current_user # because sometimes unreasonably called without layout %>
<h3><%= t('.dashboard_title') %></h3>
<br>
<h4><%= t('.req_title') %></h4>
<br>

<div class="container">
	<%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do %>
	<%= hidden_field :cert, :purpose_type, :value => 5 %>
	<%= submit_tag(t('.req_bt', type: t('common.purpose_type.t5')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
 	<% if params[:locale] == 'ja' %>	
	<%= SHIBCERT_CONFIG['label']['ja']['purpose'][5] if SHIBCERT_CONFIG['label']['ja']['purpose'][5] %>
	<% else %>
	<%= SHIBCERT_CONFIG['label']['en']['purpose'][5] if SHIBCERT_CONFIG['label']['ja']['purpose'][5] %>
	<% end %>
	<% end %>
	<br>
	<%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do  %>
	<%= hidden_field :cert, :purpose_type, :value => 7 %>
	<%= submit_tag(t('.req_bt', type: t('common.purpose_type.t7')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
 	<% if params[:locale] == 'ja' %>	
	<%= SHIBCERT_CONFIG['label']['ja']['purpose'][7] if SHIBCERT_CONFIG['label']['ja']['purpose'][7] %>
	<% else %>
	<%= SHIBCERT_CONFIG['label']['en']['purpose'][7] if SHIBCERT_CONFIG['label']['ja']['purpose'][7] %>
	<% end %>
	<% end %>
<br>
<h4><%= t('.list_title') %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.list_seq') %></th>	  
      <th><%= t('.list_type') %></th>
      <th><%= t('.list_date') %></th>
      <th><%= t('.list_available') %></th>
      <th><%= t('.list_memo') %></th>
      <th><%= t('.list_action') %></th>
    </tr>
  </thead>

  <tbody>

    <% @certs.each do |cert| %>
    <tr>
	  <td><%= link_to cert.req_seq.to_s, {action: "show", id:cert.id}, {class: "btn btn-default"}   %></td>	  
	  <td>
		<% purpose_cap =  %>
		<% if t('common.purpose_type.t' + cert.purpose_type.to_s) %>
		<%= t('common.purpose_type.t' + cert.purpose_type.to_s) %>
		<% else %>  
		t('.list_purpose_type_error')
		<% end %>
	  </td>
      <td><%= I18n.l Date.parse(cert.created_at.to_s) %></td>	  
      <td>
		<% if cert.pin_get_at and cert.expire_at %>
		  <% if Time.now > cert.expire_at %>		
	  	    <span style="color:green;"><%= t('.cert_expired') %></span>
		  <% else %>
		    <% if Time.now > cert.expire_at %>				
		      <span style="color:red;"><%= t('.cert_valid') %></span>
		    <% else %>
		      <span style="color:gray;"><%= t('.cert_invalid') %></span>				    <% end %>
		  <% end %>
		<% else %>		
		<span style="color:gray;"><%= t('.cert_requesting') %></span>
		<% end %>
	  </td>
      <td><%= cert.memo %></td>		
      <td>
		<% if cert.state == Cert::State::NEW_GOT_SERIAL %>
		<%= link_to t('.update'), {action: "index"}, {class: "btn btn-primary"} %>
		<% else %>
		<div class="btn btn-default" disabled="disabled">
		  <%= t('.update') %>
		</div>
		<% end %>

		<% if cert.state == Cert::State::NEW_GOT_SERIAL %>
		<%= link_to t('.disable'), {action: "index"}, {class: "btn btn-primary"} %>
		<% else %>
		<div class="btn btn-default" disabled="disabled">
		  <%= t('.disable') %>
		</div>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
