<h1>Listing cert_states</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cert_states.each do |cert_state| %>
      <tr>
        <td><%= cert_state.name %></td>
        <td><%= link_to 'Show', cert_state %></td>
        <td><%= link_to 'Edit', edit_cert_state_path(cert_state) %></td>
        <td><%= link_to 'Destroy', cert_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cert state', new_cert_state_path %>
