<h1>Listing cert_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cert_types.each do |cert_type| %>
      <tr>
        <td><%= cert_type.name %></td>
        <td><%= link_to 'Show', cert_type %></td>
        <td><%= link_to 'Edit', edit_cert_type_path(cert_type) %></td>
        <td><%= link_to 'Destroy', cert_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cert type', new_cert_type_path %>
