<!DOCTYPE html>
<html>
<head>
  <title><%= SHIBCERT_CONFIG['site_title_j']  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">	
	  <div class="navbar-header">
		<%= link_to SHIBCERT_CONFIG['caption_j']['site_title'],
			{controller: "portal", action: "index"}, class: "navbar-brand" %>
	  </div>
	  <% if current_user %>
	  <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
		  <li><p class="navbar-text">ユーザー<%= current_user.name %></p></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >アカウントメニュー<span class="caret"></a>
			<ul class="dropdown-menu"> 
			  <li><%= link_to "ヘルプ",
					  {controller: "portal", action: "index"} %></li>
			  <li><%= link_to "ログアウト", signout_path %></li>	
			</ul>
		  </li>
		</ul>
	  </div>
	  <% end %>
	</div>
  </div>
  <div class="container">
	<% if current_user %>
	<%= yield %>	
	<% else %>
	<div class="omniauth">
      学内IDを使って<%= link_to "ログイン", "/auth/shibboleth" %><br>
      他サービスでログインする <%= link_to "GitHub", "/auth/github" %>
	</div>
    <% end %>
  </div>
</body>
</html>
