<% if SESSION_USER_DUMMY.present? %>
<% uid = SESSION_USER_DUMMY_ID %>
<% end %>
<!DOCTYPE html>
<html>
<head>
  <title><%= SHIBCERT_CONFIG['site_title_j']  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar">
	<div class="navbar-inner">
	  <div class="container">
		<span class="brand"><%= SHIBCERT_CONFIG['caption_j']['site_title'] %></span>
		<% if uid.present? %>
		<ul class="nav pull-right">
		  <li><span class="navbar-text">[<%= uid %>]</span></li>
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">メニュー</a>
			<ul class="dropdown-menu"> 
			  <li><%= link_to "ヘルプ",
					  {controller: "portal", action: "index"} %>
			  <li><%= link_to "ログアウト",
					  {controller: "portal", action: "index"} %>
			  <li>
			</ul>
		  </li>
		</ul>			
		<% end %>
	  </div>
	  <% if current_user %>
	  Welcome, <%= current_user.name %>!
          <%= link_to "Sign Out", signout_path %>
	  <% else %>
	  <div class="omniauth">
                <%= link_to "Sign in with Gakunin", "/auth/shibboleth" %> or
                <%= link_to "Sign in with GitHub", "/auth/github" %>
	  </div>
          <% end %>
	</div>
  </div>
  <div class="container">
	<% if uid.present? %>			
	<%= yield %>
	<% else %>
	<p>ログインして下さい</p>
	<% end %>
  </div>
</body>
</html>
