<!DOCTYPE html>
<html>
<head>
  <title><%= SHIBCERT_CONFIG['site_title_j']  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar">
	<div class="navbar-inner">
	  <div class="container">
		<span class="brand"><%= SHIBCERT_CONFIG['caption_j']['site_title'] %></span>
		<% if current_user %>		
		<ul class="nav pull-right">
		  <li>
			<span class="navbar-text">ユーザー<%= current_user.name %></span>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">メニュー</a>
			<ul class="dropdown-menu"> 
			  <li><%= link_to "ヘルプ",
					  {controller: "portal", action: "index"} %>
			  <li><%= link_to "ログアウト", signout_path %>				
			  <li>
			</ul>
		  </li>
		</ul>
		<% end %>
	  </div>
	</div>
  </div>
  <div class="container">
	<% if current_user %>
	<%= yield %>	
	<% else %>
	<div class="omniauth">
      <%= link_to "Sign in with Gakunin", "/auth/shibboleth" %> or
      <%= link_to "Sign in with GitHub", "/auth/github" %>
	</div>
    <% end %>
  </div>
</body>
</html>
