<% if SESSION_USER_DUMMY.present? %>
<% uid = SESSION_USER_DUMMY_ID %>
<% end %>
<!DOCTYPE html>
<html>
<head>
  <title>個人証明書発行システム</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar">
	<div class="navbar-inner">
	  <div class="container">
		<span class="brand">個人証明書発行システム</span>
		<% if uid.present? %>		
		<p class="navbar-text pull-right">[<%= uid %>としてログイン中] <%= link_to "ログアウト", {controller: "portal", action: "index"} %></p>
		<% end %>
	  </div>
	  <% if current_user %>
	  Welcome, <%= current_user.name %>!
          <%= link_to "Sign Out", signout_path %>
	  <% else %>
	  <div class="omniauth">
                <%= link_to "Sign in with Gakunin", "/auth/shibboleth" %> or
                <%= link_to "Sign in with GitHub", "/auth/github" %>
	  </div>
          <% end %>
	</div>
  </div>
  <div class="container">
	<% if uid.present? %>			
	<%= yield %>
	<% else %>
	<p>ログインして下さい</p>
	<% end %>
  </div>
</body>
</html>
